In [1]:
import pandas as pd
import numpy as np

In [3]:
print('hello world')

hello world

In [ ]:
t1 = pd.read_csv('/Users/pangrui/Desktop/C1_python/data/Tickets.csv', header = 0)
t1.head()

,ITIN_ID,YEAR,QUARTER,ORIGIN,ORIGIN_COUNTRY,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,ROUNDTRIP,REPORTING_CARRIER,PASSENGERS,ITIN_FARE,DESTINATION
0,201912723049,2019,1,ABI,US,TX,Texas,1.0,MQ,1.0,736.0,DAB
1,201912723085,2019,1,ABI,US,TX,Texas,1.0,MQ,1.0,570.0,COS
2,201912723491,2019,1,ABI,US,TX,Texas,1.0,MQ,1.0,564.0,MCO
3,201912723428,2019,1,ABI,US,TX,Texas,1.0,MQ,1.0,345.0,LGA
4,201912723509,2019,1,ABI,US,TX,Texas,0.0,MQ,1.0,309.0,MGM

In [ ]:
t2 =t1.iloc[int((t1.shape[0]+1)/2):,]
t2.head()

,ITIN_ID,YEAR,QUARTER,ORIGIN,ORIGIN_COUNTRY,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,ROUNDTRIP,REPORTING_CARRIER,PASSENGERS,ITIN_FARE,DESTINATION
583643,201915200756,2019,1,MCI,US,MO,Missouri,1.0,YX,1.0,478.0,ORD
583644,20191612845,2019,1,MCI,US,MO,Missouri,0.0,AA,1.0,398.0,DFW
583645,201911177475,2019,1,MCI,US,MO,Missouri,1.0,AS,4.0,231.0,SEA
583646,201914642377,2019,1,MCI,US,MO,Missouri,1.0,WN,2.0,352.0,FLL
583647,201914638783,2019,1,MCI,US,MO,Missouri,1.0,WN,1.0,701.0,PHX

In [22]:
t3 = t1.iloc[:int((t1.shape[0]+1)/2),]
t3.tail()

,ITIN_ID,YEAR,QUARTER,ORIGIN,ORIGIN_COUNTRY,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,ROUNDTRIP,REPORTING_CARRIER,PASSENGERS,ITIN_FARE,DESTINATION
583638,201914640688,2019,1,MCI,US,MO,Missouri,1.0,WN,1.0,413.0,CLE
583639,201914636610,2019,1,MCI,US,MO,Missouri,1.0,WN,1.0,713.0,MDW
583640,201914628838,2019,1,MCI,US,MO,Missouri,1.0,WN,1.0,618.0,CMH
583641,201914635868,2019,1,MCI,US,MO,Missouri,1.0,WN,1.0,682.0,CLT
583642,201914628853,2019,1,MCI,US,MO,Missouri,1.0,WN,1.0,11.0,DCA

In [23]:
t1.shape[0] == t2.shape[0] + t3.shape[0]

True

In [24]:
t2.to_csv('/Users/pangrui/Desktop/C1_python/data/Tickets1.csv', index= False)
t3.to_csv('/Users/pangrui/Desktop/C1_python/data/Tickets2.csv', index= False)

In [2]:
def seperate_csv(file_name):
    t1 = pd.read_csv(f'/Users/pangrui/Desktop/C1_python/data/{file_name}.csv', header = 0)
    if t1.shape[0] % 2 == 1 :
        t2 =t1.iloc[int((t1.shape[0]+1)/2):,]
        t3 = t1.iloc[:int((t1.shape[0]+1)/2),]
    else :
        t2 =t1.iloc[int((t1.shape[0])/2):,]
        t3 = t1.iloc[:int((t1.shape[0])/2),]

    if t1.shape[0] == t2.shape[0] + t3.shape[0]:
        t2.to_csv(f'/Users/pangrui/Desktop/C1_python/data/{file_name}1.csv', index= False)
        t3.to_csv(f'/Users/pangrui/Desktop/C1_python/data/{file_name}2.csv', index= False)   
        print('down')

In [ ]:
seperate_csv('Flights')
seperate_csv('Tickets')

/var/folders/_m/qzwv1wg53p96cq3kbx83vxbw0000gn/T/ipykernel_17308/781862620.py:2: DtypeWarning: Columns (3,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  t1 = pd.read_csv(f'/Users/pangrui/Desktop/C1_python/data/{file_name}.csv', header = 0)

down